<h1>Donors</h1>

<%= link_to 'New Donor', new_donor_path, class: "button", id: "new_donor_link", remote: true %>
<%= link_to 'Back', donations_path, class: "button" %>

<div id="donor_index">
<ul>
  <% @donors.each do |donor| %>
    <%= render @donors %>
  <% end %>
</ul>
</div>

<%= will_paginate %>
