<h1>Donors</h1>

<% @donors.each do |donor| %>
  <ul>
    <li><%= link_to donor.name, donor %></li>
  </ul>
<% end %>

<%= link_to 'New Donor', new_donor_path %>
<%= link_to 'Back', donations_path %>
