$("#<%= dom_id @donor %>").html("<%= j render(@donor) %>")

// replace old name with new name where-ever it appears
// $('h2#name_headline').replaceWith('<h2 id="name_headline"><%= @donor.name %></h2>');
