<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="/" class="button">Home</a></li>
        <li><a href="/donors" class="button">Browse Donors</a></li>
        <li><a href="/organizations" class="button">Browse Organizations</a></li>
      </ul>
    </div>
    <h1>Follow the Money</h1>
    <hr/>
  </div>
</div>
